<!DOCTYPE html>
<html>
<head>
  <title>Sighties</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="/javascripts/lib/jquery-1.9.0.js"></script>
  <script type="text/javascript" src="/javascripts/lib/jquery-ui-1.10.0.custom.js"></script>
</head>
<body>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
